<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ImmiEntities" connectionString="metadata=res://*/ImmiEntities.csdl|res://*/ImmiEntities.ssdl|res://*/ImmiEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=LAPTOP-FO85AQTP;initial catalog=ArunSupport;integrated security=True;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>