<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sunshineconsulting1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sunshineconsulting1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sunshineconsulting1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sunshineconsulting1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sunshineconsulting.database.windows.net,1433;Initial Catalog=ImmigrationEntities;User ID=panduchinna54@sunshineconsulting;Password=Aspire123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ImmigrationApplication.WebApi.Models.ApplicationDbContext, ImmigrationApplication.WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="immigrationEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:sunshineconsulting.database.windows.net,1433;Initial Catalog=ImmigrationEntities;User ID=panduchinna54@sunshineconsulting;Password=Aspire123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ImmigrationApplication.Model.immigrationEntities, ImmigrationApplication.Model" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sunshineconsulting.database.windows.net,1433;Initial Catalog=ImmigrationEntities;User ID=panduchinna54@sunshineconsulting;Password=Aspire123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)immigrationEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/immiContext.csdl|res://*/immiContext.ssdl|res://*/immiContext.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:sunshineconsulting.database.windows.net,1433;Initial Catalog=ImmigrationEntities;User ID=panduchinna54@sunshineconsulting;Password=Aspire123"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>