@model ImmigrationApplication.Model.PrintDetails
    

@{
    ViewBag.Title = "Print View"; 
}

<h1>@Model.Person.FirstName</h1>
<h1>@Model.Person.LastName</h1>


<br />
<p>
@Html.ActionLink("Print","ExportPdf")
 </p>