@model ImmigrationApplication.WebApi.ViewModels.PrintApplicantDetails

@{
    ViewBag.Title = "Print View"; 
}

<h1>@Model.Person.FirstName</h1>
<h1>@Model.Person.LastName</h1>
<h1>@Model.Address.State</h1>
<h1>@Model.Education.Name</h1>